<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PROG1/src/bwi/prog1B/WS1617/w16b052_Seyer/ExerciseSheet03/ISBN.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bwi.prog1B.WS1617.w16b052_Seyer.ExerciseSheet03.ISBN"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PROG1"/>
</launchConfiguration>
